body{
	background-image: url(https://stmed.net/sites/default/files/star-wars-wallpapers-29931-7188436.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.text-muted{
	color: whitesmoke;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}